on:
  schedule:
    - cron: '0 12 * * *' # https://crontab.guru/#0_12_*_*_* "At 12:00."
  workflow_dispatch: # allows manual triggering of the workflow

jobs:
  batch:
    name: 'autobump > batch'
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'Checkout code'
        uses: 'actions/checkout@v6'

      - name: 'Install Dependencies'
        run: sudo apt-get update && sudo apt-get install --yes --no-install-recommends unzip curl jq

      - name: 'Download Autobump'
        run: |
          export AUTOBUMP_VERSION=$(curl -sSLH 'Accept: application/vnd.github.v3+json' \
              'https://api.github.com/repos/rios0rios0/autobump/releases/latest' | jq -r '.tag_name')
          curl -LO "https://github.com/rios0rios0/autobump/releases/download/$AUTOBUMP_VERSION/autobump-$AUTOBUMP_VERSION.zip"
          unzip "autobump-$AUTOBUMP_VERSION.zip"

      - name: 'Configure Git'
        run: |
          cat <<-EOF >~/.gitconfig
          [user]
              name = ${{ vars.GIT_USER }}
              email = ${{ vars.GIT_USER_EMAIL }}
              signingkey = ${{ vars.GIT_USER_SIGNINGKEY }}
          [push]
              autoSetupRemote = true
          [commit]
              gpgsign = true
          EOF

      - name: 'Prepare Secrets'
        run: |
          mkdir -p '.secure_files'
          echo "${GPG_PRIVATE_KEY}" > '.secure_files/autobump.asc'
          echo "${PERSONAL_ACCESS_TOKEN}" > '.secure_files/github_access_token.key'
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      - name: 'Run Autobump'
        run: |
          set -e

          ./autobump batch
          rm -rf '.secure_files'
