on:
  schedule:
    - cron: '0 13 * * *' # https://crontab.guru/#0_13_*_*_* "At 13:00 (10am BRT)."
  workflow_dispatch: # allows manual triggering of the workflow

jobs:
  batch:
    name: 'autobump > batch'
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'Checkout code'
        uses: 'actions/checkout@v6'

      - name: 'Download Autobump'
        run: curl -fsSL https://raw.githubusercontent.com/rios0rios0/autobump/main/install.sh | sh -s -- --install-dir . --force

      - name: 'Configure Git'
        run: |
          cat <<-EOF >~/.gitconfig
          [user]
              name = ${{ vars.GIT_USER }}
              email = ${{ vars.GIT_USER_EMAIL }}
              signingkey = ${{ vars.GIT_USER_SIGNINGKEY }}
          [push]
              autoSetupRemote = true
          [commit]
              gpgsign = true
          EOF

      - name: 'Prepare Secrets'
        run: |
          mkdir -p '.secure_files'
          echo "${GPG_PRIVATE_KEY}" > '.secure_files/autobump.asc'
          echo "${PERSONAL_ACCESS_TOKEN}" > '.secure_files/github_access_token.key'
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      - name: 'Run Autobump'
        run: |
          set -e

          ./autobump discover
          rm -rf '.secure_files'
